h1,h2,h3,h4,h5, p, span {
  margin: 0;
  padding: 0;
}

a {
  color: unset;
  text-decoration: none; 
  color: inherit; 
  background-color: transparent; 
  cursor: pointer; 
}

button {
  margin: 1rem 0;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  background-color: rgba(238, 240, 241, 0.5);
  border: 1px solid rgba(172, 175, 176, 0.3);
  border-radius: 5px;
  cursor: pointer;
}
