.kartu {
  border: 1px solid rgba(14,4,5,0.2);
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  width: 244px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.harga {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
  font-size: 20px;
  font-family: Roboto;
}

.title {
  font-weight: 400;
  margin-top: 5px;
  color: var(--blackSecondaryText);
  font-size: 14px;
}

.comment {
  font-weight: 400;
  margin-top: 5px;
  font-size: 14px;
}

.feature {
  color: var(--blackText);
  font-size: 14px;
  margin: 2px 0 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.published {
  font-size: 10px;
  color: var(--blackSecondaryText);
}

.bottom {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.red{
  background-color: red;
}

.form {
  display: none;
}

.button_wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.comment_wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}